* {
  background: #F6FBFF;

}

h1 {
  font-family: 'Sanchez', serif;
  text-decoration: underline dotted red;
  font-size: 80px;
}

img {
  display: inline-block;
  width: 200px;
}

title {
text-decoration: blue;
}
